In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
from subprocess import check_output
#print(check_output(["ls", "../input"]).decode("utf8"))

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn import preprocessing
from sklearn.model_selection import train_test_split # to split the data into two parts
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/mhmmd-nauman/DataSets/master/spring18/department-wise/top15%20features/selected%20features/Computer-science-Department.csv",header = 0)

In [ ]:
df.head()

  Application Status    Domicile  ... English Marks Offered
0                 No        OPEN  ...             0      No
1           Complete  Bahawalpur  ...             0     Yes
2                 No  Bahawalpur  ...             0      No
3           Complete  Bahawalpur  ...             0      No
4                 No  Bahawalpur  ...             0      No

[5 rows x 10 columns]

In [ ]:
#df.drop('id',axis=1,inplace=True)
#df.drop('Unnamed: 32',axis=1,inplace=True)

In [ ]:
#df['Offered'] = df['Offered'].map({'Yes':1,'No':0})
#df['Application Status'] = df['Application Status'].map({'Complete':1,'NotComplete':0})
from sklearn.preprocessing import LabelEncoder
labelencoder_X_1 = LabelEncoder()
df['Application Status'] = labelencoder_X_1.fit_transform(df['Application Status'])
df['Domicile'] = labelencoder_X_1.fit_transform(df['Domicile'])
df['Gender'] = labelencoder_X_1.fit_transform(df['Gender'])
df['Province'] = labelencoder_X_1.fit_transform(df['Province'])
df['Offered'] = labelencoder_X_1.fit_transform(df['Offered'])

In [ ]:
df.head()

   Application Status  Domicile  ...  English Marks  Offered
0                   1         1  ...              0        0
1                   0         0  ...              0        1
2                   1         0  ...              0        0
3                   0         0  ...              0        0
4                   1         0  ...              0        0

[5 rows x 10 columns]

In [ ]:
data_df= list(df.columns[0:9]) 
data_df_main = df.loc[:,data_df]

In [ ]:
data_df_main

     Application Status  Domicile  ...  Document Verified  English Marks
0                     1         1  ...                  0              0
1                     0         0  ...                  1              0
2                     1         0  ...                  0              0
3                     0         0  ...                  0              0
4                     1         0  ...                  0              0
..                  ...       ...  ...                ...            ...
726                   0         1  ...                  0              0
727                   1         1  ...                  0              0
728                   0         1  ...                  0              0
729                   1         1  ...                  0              0
730                   0         1  ...                  0              0

[731 rows x 9 columns]

In [ ]:
X = data_df_main
y = df['Offered']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size=0.3,
                                                   random_state=0)

In [ ]:
svm_model = SVC()

parameters = [
              {'C': [1, 10, 100], 
               'kernel': ['linear']
              },
              
 ]

In [ ]:
grid_svm = GridSearchCV(svm_model, parameters, cv=20, scoring="accuracy")
grid_svm.fit(X_train,y_train)

GridSearchCV(cv=20, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'C': [1, 10, 100], 'kernel': ['linear']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [ ]:
print(grid_svm.best_score_)

0.9786153846153848

In [ ]:
y_pred = grid_svm.predict(X_test)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test, y_pred)
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
Sp = tn / (tn+fp)
Sn = tp/(tp + fn)

In [ ]:
print(cm)
print(Sp)
print(Sn)

[[198   1]
 [  4  17]]
0.9949748743718593
0.8095238095238095

In [ ]:
from sklearn.metrics import cohen_kappa_score
cohen_score = cohen_kappa_score(y_test, y_pred)

In [ ]:
cohen_score

0.8594069529652352